{% extends "base" %}
{% block title %}Passwort zurücksetzen{% endblock title %}
{% block content %}
	<p>
    Du hast soeben eine Anfrage gesendet, um dein Passwort zurückzusetzen.
    Wenn diese Anfrage nicht von dir kam, kannst du sie ignorieren!
    Um dein Passwort zu ändern, gehe auf diese Seite und gib den Code an:
	</p>

  <p style="text-align: center">
      <a href="{{ url }}">{{ url }}</a>
  </p>

  <p style="text-align: center; font-family: monospace; font-size: 24px">
      <b>{{ code }}</b>
  </p>
{% endblock content %}
